#song-page-container {
    color: #F1D4D4;
    display: grid;
    grid-template-areas:
    'a'
    'b';
    justify-content: center;

    animation: song-page-scroll 30s ease-in-out infinite alternate;
    background-image: url('../../images/background-art.png');
    border: 0.25vw solid #F1D4D4;
    height: 90vh;
    /* overflow: hidden; */
}

@keyframes song-page-scroll {
    100% { background-position-y: 100%; }
}

#sp-background-color-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
}

#song-page-headers-container {
    cursor: default;
    color: #57CC99;
    width: 100%;
    text-align: center;

    grid-area: 'a';
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

#song-page-header {
    font-size: 1.5vw;
    grid-area: 'a';
}

#song-page-title {
    font-size: 3.5vw;
    grid-area: 'b';
}

#sp-inner-container {
    height: 100%;
    width: 100%;

    grid-area: 'b';
    display: grid;
    grid-template-areas: "c a b";
    grid-template-columns: 1.5fr 5fr 1fr;
}

#sp-comments-container {
    grid-area: 'c';
    text-align: left;
    background-color: blue;
}

#sp-comments-holder{
    background-color: rgb(253, 6, 6);
    height: calc(0.6 * 90vh);
    overflow-y: scroll;
}

#song-page-lyrics {
    cursor: pointer;
    color: black;
    padding: 0;
    height: 100%;
    width: 100%;

    grid-area: 'a';
    text-align: center;
    background-color: rgba(87, 204, 153, 0.7);

    animation: lyrics-unravel 3s ease-out;
    transition: color;
}

@keyframes lyrics-unravel {
    0% { height: 0%; }
    100% { height: 100% }
}

.song-page-video {
    height: 80%;
    grid-area: 'b';
    animation: video-unravel 3s ease-out;
}

@keyframes video-unravel {
    0% { height: 0% }
    100% { height: 80% }
}
#song-page-lyrics:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #57CC99;
}
