#add-song-form {
    display: flex;
    flex-direction: column;
}

#add-song-form > input, #add-song-lyrics {
    background-color: black;
    color: #57CC99;
    font-size: 1.5vw;
}

#add-song-lyrics {
    resize: none;
    height: 50vh;
    /* color: #57CC99; */
}

#song-page-submit:hover {
    color: black;
    background-color: #57CC99;
}

#song-page-cancel-link {
    text-decoration: none;
    text-align: center;
    color: white;
}

#song-page-cancel-btn:hover {
    background-color: #22577A;
}
