#home-page-container {
    color: #F1D4D4;
    display: grid;
    justify-content: center;
    grid-template-areas:
    'a'
    'b';
}

#home-page-header {
    font-size: 4vw;
    color: #57CC99;
    grid-area: 'a';
}

#home-songs-container {
    height: 50vh;
    width: 80vw;
    overflow: hidden;
    grid-area: 'b';

    display: flex;
    justify-content: center;
}

#home-videos {
    height: 100%;
}

#home-lyrics {
    display: block;
}
