#home-page-container {
    color: #F1D4D4;
    display: grid;
    grid-template-areas:
    'a'
    'b';
    justify-content: center;

    animation: home-scroll 30s ease-in-out infinite alternate;
    background-image: url('../../images/background-art.png');
    border: 0.25vw solid #F1D4D4;
    height: 90vh;
    overflow: hidden;
}

#home-headers-container {
    cursor: default;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-area: 'a';
    color: #57CC99;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#home-page-header {
    font-size: 4vw;
}

#song-visits-header {
    font-size: 1.5vw;
}

#home-carousel {
    height: 80vh;
    width: 100%;
    overflow-x: scroll;
    grid-area: 'b';
    justify-content: left;
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

.home-video {
    margin-bottom: -0.60vh;
    transition: height 1.5s;
}

#big-home-video {
    height: 60vh;
}

#small-home-video {
    height: 40vh;
}

#hidden-home-lyrics {
    display: none;
}

#visible-home-lyrics {
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 12%;
    width: 100%;
    background-color: rgba(241, 212, 212, 0.8);
    transition: height 1.5s;
}

#visible-home-lyrics:hover {
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #57CC99;
}

@keyframes home-scroll {
    100% { background-position-y: 100%; }
}
