#mySongs-page-container {
    color: #F1D4D4;
    display: grid;
    grid-template-areas:
    'a'
    'b';
    justify-content: center;
    grid-gap: 1vw;

    animation: mySongs-scroll 30s ease-in-out infinite alternate;
    background-image: url('../../images/background-art.png');
    border: 0.25vw solid #F1D4D4;
    height: 90vh;
    overflow: hidden;
}

#mySongs-bg-color-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: scroll;
    height: 100vh;
}

#mySongs-headers-container {
    cursor: default;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-area: 'a';
    color: #57CC99;
    text-align: center;
}

#mySongs-page-header {
    font-size: 4vw;
}

#mySongs-header {
    font-size: 1.5vw;
}

#mySongs-carousel {
    height: 80vh;
    width: 100%;
    grid-area: 'b';
    justify-content: left;
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

.mySongs-card {
    cursor: context-menu;
    background-color: rgba(192, 96, 161, 0.7);
    overflow-y: auto;
    transition: height 1s;
    width: 25vw;
    color: black;
    margin: 0 2vw;
}

.mySongs-card > input {
    cursor: context-menu;
}

textarea[data-ms-input='body'] {
    cursor: context-menu;
    height: 100%;
    width: 100%;
}

div[data-card-size='big'] {
    height: 60vh;
}

div[data-card-size='small'] {
    height: 40vh;
}

div[data-subcard-visibility='hidden'] {
    display: none;
}

div[data-subcard-visibility='visible'] {
    cursor: pointer;
    background-color: rgba(241, 212, 212, 0.8);
    overflow-y: auto;
    transition: height 1s;
    height: 12%;
    width: 25vw;
    color: black;
    margin: 0 2vw;
}

div[data-subcard-visibility='visible']:hover {
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #57CC99;
}

@keyframes mySongs-scroll {
    100% { background-position-y: 100%; }
}

#context-menu {
    cursor: pointer;
    background-color: red;
}

#context-menu.invisible {
    display: none;
}
