* {
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 1vw;
    background-color: black;
}

button {
    border-radius: 0.25vw;
    cursor: pointer;
    background-color: #6A097D;
    color: white;
    transition: background-color 0.5s ease-in-out, color 0.5 ease-in-out;
}

button:hover {
    box-shadow: 0 0 0.40vw black;
    background-color: #C060A1;
    color: black;
}

a {
    color: #F1D4D4;
    transition: background-color 0.5s ease-in-out, color 0.5 ease-in-out;
}

a:hover {
    color: #C060A1;
}

form {
    background-color: rgba(241, 212, 212, 0.5);
}

input[type='text'] {
    color: black;
}

ul {
    color: #F1D4D4;
}
