.nav-link-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 100%;
}

.nav-links {
    text-decoration: none;
}

.profile-dropdown {
    list-style: none;
    color: #F1D4D4;
}
