#nav-links-ul {
    padding: 0;
}

#nav-links-li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.nav-links {
    text-decoration: none;
}

.profile-dropdown {
    list-style: none;
    color: #F1D4D4;
}
